// Borders and shadows
$border-color: rgba(12, 0, 51, 0.1);
$default-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

// Typography
$font: 16px;

// scale
$font1: 0.75rem;   // 12px
$font2: 0.875rem;  // 14px
$font3: 1rem;      // 16px
$font4: 1.125rem;  // 18px
$font5: 1.375rem;  // 22px
$font6: 1.5rem;    // 24px
$font7: 1.75rem;   // 28px
$font8: 2.25rem;   // 36px

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: $font3;
$line-height-base: 1.66;
$text-color: black;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #eaeaea;
$forest-green: #238336;

$brand-primary: $blue;
$brand-info: $indigo;
$brand-success: $green;
$brand-warning: $orange;
$brand-danger: $red;

// Body
$body-bg: $white;

// Navbar
$navbar-default-bg: #f2f2f2;

// Buttons
$btn-default-color: $white;

// Navbar
$navbar-default-bg: #f2f2f2;

// Theme

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Paths
$fa-font-path: "~font-awesome/fonts";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$img-path: '../img/';
